<h2>{{ titulo }}</h2>
<p>{{ listado }}</p>

<p>Listado de Zapatillas</p>
<ul>
    <li *ngFor="let zap of zapatillas">
        <span [style.text-decoration]="!zap.stock ? 'line-through' : 'none' ">{{ zap.marca }} -  
            <strong
                [class.altoPrecio]="zap.precio > 100 && zap.precio < 500"
                [ngClass]="{
                    'fondoRojo': zap.precio >= 500,
                    'subrayado': zap.marca == 'Nike'
                }">{{ zap.precio }}</strong>
        </span>

        <span
            *ngIf="zap.precio < 200"
            [style.background]="zap.precio < 200 ? 'green' : 'transparent' "
            [style.color]="zap.precio < 200 ? 'white' : 'black' "> ¡OFERTA!</span>
    </li>
</ul>

<p>Listado de Marcas</p>
<ul>
    <li *ngFor="let mar of marcas">{{ mar }}</li>
</ul>

<p>Listado de Marcas mostrando indice</p>
<ul>
    <li *ngFor="let mar of marcas; let indice = index">{{ indice + ' ' + mar }}
        <button (click)="borrarMarca(indice)">Borrar Marca</button>
    </li>

</ul>


<p>
    <input type="text" [(ngModel)]="color"  (keyup.enter)="mostrarMarca()" />
</p>
<p>El color encontrado es</p>
<p>
    <input type="text" [(ngModel)]="color" (blur)="onBlur()" />
</p>



<ul [ngSwitch]="color">
    <li *ngSwitchCase="'yellow'" [ngStyle]="{'background': color}">Color Amarillo</li>
    <li *ngSwitchCase="'black'" [style.background]="color">Color Negro</li>
    <li *ngSwitchCase="'green'" [style.background]="color">Color Verde</li>
</ul>

<p>trabajando bidireccionalmente con two way data binding</p>
<p>
    <input type="text" [(ngModel)]="marca_tw" />
    <button type="button" (click)="getMarca()">Mostrar Marca</button>
    <button type="button" (click)="addMarca()">Añadir Marca</button>
</p>

<span>{{ marca_tw }}</span>

