
<div [ngStyle]="{'border': config.borde}">
  <h1>{{ title }}</h1>
  <p>{{ descripcion }}</p>
  <div [ngStyle]="{
                  'background': config.color2,
                  'padding' : '20px',
                  'margin' : '50px'
                }">
  
    <!--
    <button (click)="ocultarVideojuego()">{{ textButton }}</button>
    <videojuego *ngIf="mostrar_videojuego"></videojuego>
    <zapatillas></zapatillas>
    <cursos></cursos>
    -->
    <nav>
      <a [routerLink]="['/home']" [routerLinkActive]="['activo']">Home</a>
&nbsp;<a [routerLink]="['/videojuego']" [routerLinkActive]="['activo']">Videojuego</a>
&nbsp;<a [routerLink]="['/zapatillas']" [routerLinkActive]="['activo']">Zapatillas</a>
&nbsp;<a [routerLink]="['/cursos']" [routerLinkActive]="['activo']">Cursos</a>
    </nav>
    <hr>
    
    <router-outlet></router-outlet>

  </div>
</div>
